*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 40px 0;
}

.ingred-block {
  width: 47%;
  border: solid 1px black;
  padding: 15px;
}

.burger-block {
  width: 47%;
  border: solid 1px black;
  padding: 15px;
}

.ingred-title {
  margin: 0;
}

.burger-title {
  margin: 0;
}

.ingred-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.ingred-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.ingred-icon:active {
  border: #c45e38 2px solid;
}

.ingred-name {
  margin: 0 30px 0 0;
}

.ingred-count {
  margin-right: 30px;
}

.ingred-remove {
  background: indianred;
  outline: none;
  border: none;
  padding: 5px 10px;
  color: white;
}

.ingred-remove:active {
  background: darkred;
}